<div class="mt-4">
  <% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <%end%>
  <div>
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-2"><%= @article.title %></h3> 
        <div class="d-flex gap-1">
          <% if @article.user == current_user %>
          <%= link_to "", edit_article_path(@article), class: 'btn btn-light bi bi-pencil-square', title: 'edit article' %>
          <%= button_to "", @article, method: :delete, data:{
            turbo_method: :delete,
            turbo_confirm: 'Are you sure?'
          }, class: 'btn btn-light bi bi-trash', title: 'delete article' %>
          <% end %>
        </div>
      </div>
      <hr>
      <div class="d-flex justify-content-between">
        <div>
          <p class="mb-0">Author: <%= @article.user.name %></p>
          <p style="font-size: 0.8em; color: grey">Created at: <%= @article.created_at %></p> 
        </div>
        <div>
          <%= link_to "Back to articles", articles_path, class: 'btn btn-outline-secondary btn-sm' %>
        </div>
      </div>
      

      <p class="mt-4">
        <%= @article.content %>
      </p>
    </div>
  <div>
</div>
